@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Bitter|Pacifico');

*{
	box-sizing: border-box;
}

body{
	font-family: Bitter, serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

#container{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 85px repeat(9, 1fr);
}

#header{
	grid-area: 1 / 1 / 2 / 11;
	display: flex;
	border-bottom: 2px solid #454545;
	position: fixed;
	width: 100vw;
	background-color: white;
	z-index: 99;
}

#header .logo{
	height: auto;
	width: auto;
	margin-left: 1rem;
}

#header img{
	width: 6rem;
	height: auto;
}

#header	span{
	align-self: center;
	font-size: 1.5rem;
	padding-left: .5rem;
	text-shadow: 1px 1px rgb(152,83,45);
}

#header .navbar{	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	padding-right: 1rem;
}


#header .navbar .nav-links{
	list-style-type: none;
	padding: 0 1.5rem;
}

#header .navbar a{
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
}

#header .navbar a:hover{
	color: rgb(152,83,45);
	text-shadow: 1px 1px black;
}

#header .navbar #active a{
	color: rgb(7,76,57);
	font-weight: bold;
}

#content{
	grid-area: 2 / 1 / 11 / 11;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#content .titlebar{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

#content .titlebar span,
#content .titlebar img{
	padding: 0 1rem;
}

#content .titlebar span{
	font-size: 3rem;
	font-weight: bolder;
	text-shadow: 3px 3px rgb(152,83,45);
}

#content .titlebar hr{
	width: 100%;
	height: 3px;
	background-color: black;
}

#content .banner{
	width: 100vw;
	background: url("img/banner-bg2.jpeg") no-repeat center center / cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content .banner .banner-text{
	color: white;
	text-shadow: 3px 3px 1px black;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: Pacifico, cursive;
}

#content .banner .banner-text >*{
	flex-basis: 100%;
}

#content .banner .banner-text .text-1{
	font-size: 7rem;
}

#content .banner .banner-text .text-2{
	display: flex;
	flex-direction: row;
}

#content .banner .banner-text .text-2 > *{
	flex: 1;
	font-size: 5rem;

}

#content .banner .banner-text .text-2 .text-2-1{
	display: flex;
	flex-direction: column;
}

#content .banner .banner-text .text-2 .text-2-1 >*{
	flex: 1;
	font-size: 2.5rem;
}

#content .banner .primary-btn button{
	border: 1px solid rgb(7,76,57);
	padding: .4rem 5rem; 
	background-color: transparent;
	border-radius: 20px;
	color: rgb(7,76,57);
	font-size: 1.2rem;
	transition: all .5s;
}

#content .banner .primary-btn button:hover{
	background-color: rgb(7,76,57);
	cursor: pointer;
	color: white;
}

#content .banner .primary-btn hr{
	margin-top: 2rem;
	border: 1px solid black;
}

#content .banner .sm-links{
	font-family: Bitter, serif;
	color: black;
	text-shadow: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

#content .banner .sm-links > *{
	padding: .5rem;
}

#content .banner .sm-links span{
	border-right: 1px solid black;
	font-size: .9rem;
}

#content .gallery{
	display: flex;
	width: 95%;
	margin-top: 1rem;
}

#content .gallery .gallery-img{
	display: flex;
	flex: 1;
	transition: all .5s;
	margin: .5rem;
}

#content .gallery .gallery-img:hover{
	flex: 3;
}

#content .gallery .gallery-img img{
	width: 100%;
	height: auto;
	border-radius: 20px;
	border: 2px solid black;
	transition: all .5s;
}

#content .sub-container{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#content .sub-container .content-img,
#content .sub-container .content-text{
	flex: 1;
	padding: 1rem;
	line-height: 1.8rem;
}

#content .sub-container:first-child{
	margin-top: 1rem;
}

#content .sub-container #reverse{
	order: 1;
}

#content .sub-container img{
	height: auto;
	width: auto;
	border-radius: 20px;
	border: 2px solid black;
	opacity: .8;
	transition: all .5s;
}

#content .sub-container img:hover{
	opacity: 1;
}

#content .sub-container button{
	border: 1px solid transparent;
	padding: .1rem 1.5rem; 
	background-color: rgb(152,83,45);
	border-radius: 20px;
	color: black;
	font-family: Pacifico, cursive;
	font-size: 2.5rem;
	transition: all .5s;
	box-shadow: 3px 3px black;
	cursor: pointer;
}

#content .sub-container button:hover,
#content .sub-container .company-overview a:hover,
#content .sub-container .products a:hover{
	color: white;
	background-color: rgb(186,111,71);
}

#content .sub-container p{
	height: auto;
	background-color: rgba(1,1,1,.1);
	border-radius: 5px;
	padding: .5rem 1rem;
}

#content .sub-container span{
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 1px 1px rgb(152,83,45);
}

#content .sub-container .slider{
	background: url(img/map.png) no-repeat center center / cover;
	border-radius: 20px;
	display: flex;
	margin: 2rem;
	border: 1px solid black;
}

#content .sub-container #slider-img{
	opacity: 0;
}


#content .sub-container #slider-img:hover{
	opacity: 1;
}

#content .sub-container .hours a{
	color: black;
	font-size: 1.4rem;
	padding: 0 .5rem;
}

#content .sub-container .hours a:hover{
	color: rgb(54,130,109);
}

#content .sub-container .company-profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}


#content .sub-container .company-profile .mission-vision{
	display: flex;
	margin: 2rem;
}

#content .sub-container .company-profile .mission-vision .mission,
#content .sub-container .company-profile .mission-vision .vision{
	margin: 1rem;
	line-height: 1.5rem;
}

#content .sub-container .company-profile .owner{
	display: flex;
	width: 80%;
}

#content .sub-container .company-profile .owner .owner-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#content .sub-container .company-profile .owner img{
	width: 200px;
	opacity: 1;
	border-radius: 40px;
	margin-right: 2rem;
}

#content .sub-container .company-overview,
#content .sub-container .products{
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: .5rem 2rem;
	align-self: flex-start;
	line-height: 1.8rem;
	flex-basis: auto;
}

#content .sub-container .company-overview{
	order: 1;
}

#content .sub-container .company-overview a,
#content .sub-container .products a{
	text-decoration: none;
	color: black;
	font-size: 1.2rem;	
	align-self: flex-end;
	padding: .5rem 1rem;
	background-color: rgb(152,83,45);
	border-radius: 10px;
	box-shadow: 2px 2px black;
}

#content .sub-container .menu,
#content .sub-container .menu-text{
	height: 360px;
	display: flex;
	align-self: flex-start;
	flex: 1;
	margin: 1rem .5rem;
}

#content .sub-container .menu{
	justify-content: flex-end;
}


#content .sub-container .menu img{
	width: 360px;
	height: 100%;
	align-self: center;
}

#content .sub-container .menu-text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#content .sub-container .menu-text span{
	margin-bottom: .5rem;
}

#content .sub-container .menu-text p{
	margin: 3px .5rem;
}



#footer{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#footer .contacts-links{
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer .sm-links,
#footer .contacts,
#footer .sub-links,
#footer span{
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer .sm-links > *,
#footer .contacts span,
#footer .sub-links a,
#footer span{
	font-size: .9rem;
	padding: 0 1rem;
	color: black;
}

#footer span{
	padding: 1rem 0;
}

#footer .sm-links li{
	list-style-type: none;
}